
.block {
    /** Сейчас на .block нет свойств, поэтому его можно упустить и в разметке и в css*/
  
    /*Это свойство только чтобы увидеть промежуточный результат, раскомментируйте*/
    border: 1px solid blue;
}


.block_gift {
    /* Возможно использовать shorthand */
    background:  url('../img/b4_bg.jpg') ;
}

.block__inner {
    width: 1031px;
    margin: auto;

    /** расскоментируйте, чтобы увидеть промежуточный результат*/
    border: 1px solid red;
}

.block__inner>div {
    background: yellow;
}
.block__inner>.why-we{
    background: grey;
}


/* }
.top {
    height: 354px;
}

.why-we{
    height: 542px;
}

.film-list{
    height: 568px;
}

.gift{
    height: 379px;
}

.film-mosaic {
    height: 1168px;
}

.map {
    height: 448px;
}

.footer {
    height: 120px;
} */